{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Inspirations recettes, bonjour !</h1>
            <p class="lead text-center">Toujours plus d’inspiration en cuisine grâce à nos recettes faciles, rapides et tendances.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>
    {% endblock %}